div {
  width: 400px;
  height: 600px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
}

#profile-card-1{
  width: 400px;
  height: 600px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px;
  border-style: solid;
  border-color: cyan;
  padding-top: 10px;
}

